/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@500&display=swap');
*{
  font-family: 'Hahmlet', serif;
}
